*{
    padding:0;
    margin:0;
    border: box-sizing;
}
.resume{
    min-height:100vh;
    width:100%;
    border:5px solid black;
    padding:50px
}
.social-container{
    display:flex;
    gap:10px;
    margin-top:5px;
}
.social1,.social2{
    flex:1;
}
.summary{
    padding-top:5px;
    margin-top:5px;
}
.summary p{
    margin-top:5px;
}
.education-container{
    display:flex;
    justify-content: space-between;
    margin-top:5px;
}
.edu2{
    text-align:right;
}
.achievements{
    margin-top:2px;
    padding-left:20px;
}